.slideContainer {
    position: relative;
    padding: 0 3rem;
    min-height: 10rem;
    min-width: 100%;
    max-width: 100%;
}

.slideTrackBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*background-color: #0d3b96;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
}

.slideTrack {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 30;
}
