/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 1em/1.2 "Inter", Helvetica, Arial, serif;
$font_type1: 700 48px/1.2 "Poppins", Helvetica, Arial, serif;
$font_type2: 700 36px/1.2 "Inter", Helvetica, Arial, serif;
$font_type3: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
$font_type4: 18px/1.2 "Inter", Helvetica, Arial, serif;
$font_type5: 700 18px/1.2 "Inter", Helvetica, Arial, serif;
$font_type6: 500 18px/1.2 "Inter", Helvetica, Arial, serif;
$font_type7: 700 14px/1.2 "Poppins", Helvetica, Arial, serif;
$font_type8: 14px/1.2 "Poppins", Helvetica, Arial, serif;
$font_type9: 14px/1.2 "Inter", Helvetica, Arial, serif;

.group {
@include flex-column;
}
.group_layout {
    position: relative;
}
.line {
    background-color: rgb(142, 142, 161);
    border-radius: 0.5px 0.5px 0.5px 0.5px;
}
.line_layout {
    position: absolute;
    top: 0px;
    height: 1px;
    left: 0px;
    right: 0px;
    width: 31.98%;
    margin: 821px 43.02% 1041px 25%;
}
.line_layout1 {
    position: absolute;
    top: 0px;
    height: 1px;
    left: 0px;
    right: 0px;
    width: 31.98%;
    margin: 872px 43.02% 990px 25%;
}
.line_layout2 {
    position: absolute;
    top: 0px;
    height: 1px;
    left: 0px;
    right: 0px;
    width: 31.98%;
    margin: 923px 43.02% 939px 25%;
}
.line_layout3 {
    position: absolute;
    top: 0px;
    height: 1px;
    left: 0px;
    right: 0px;
    width: 31.98%;
    margin: 974px 43.02% 888px 25%;
}
.block {
    display: flex;
    background-color: rgb(249, 249, 249);
}
.block_layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-height: 1863px;
    flex-shrink: 0;
}
.block_item {
@include flex-column;
    position: relative;
    flex: 0 1 345px;
}
.cover_block12 {
@include flex-column;
    background-color: rgb(255, 255, 255);
}
.cover_block12_layout {
    position: relative;
    height: min-content;
}
.flex {
@include flex-column;
}
.flex_layout {
    position: relative;
    height: min-content;
    margin: 30px 34px;
}
.flex1 {
    display: flex;
}
.flex1_layout {
    position: relative;
    height: min-content;
    margin: 0px 24px 0px 37px;
}
.flex1_item {
@include flex-column;
    position: relative;
    flex: 0 1 46px;
}
.cover_block11 {
@include flex-column;
    background: var(--src) center center / contain no-repeat;
}
.cover_block11_layout {
    position: relative;
    height: min-content;
    margin: 13px 0px 0px;
}
.image {
    background: var(--src) center center / contain no-repeat;
}
.image_layout {
    position: relative;
    height: 28px;
    width: 20px;
    min-width: 20px;
    margin: 9px 13px;
}
.flex1_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 17px;
}
.hero_title {
@include font-face($font_type1, rgb(34, 36, 44), 0px);
}
.hero_title_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 0px 0px 1px;
}
.block1 {
@include flex-column;
}
.block1_layout {
    position: relative;
    height: min-content;
    margin: 61px 13px 0px 12px;
}
.block2 {
    display: flex;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 20px 20px 20px 20px;
}
.block2_layout {
    position: relative;
    height: min-content;
}
.block2_item {
@include flex-column;
    position: relative;
    flex: 0 1 84px;
}
.block3 {
@include flex-column;
    background-color: rgb(97, 96, 220);
    border-radius: 30px 30px 30px 30px;
}
.block3_layout {
    position: relative;
    height: 60px;
    margin: 2px 0px 2px 24px;
}
.icon {
    background: var(--src) center center / contain no-repeat;
}
.icon_layout {
    position: relative;
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin: 10px 0px 0px 10px;
}
.block2_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.highlights {
@include font-face($font_type4, rgb(34, 36, 44), 0px);
}
.highlights_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 46px 21px 0px;
}
.block4 {
    display: flex;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 20px 20px 20px 20px;
}
.block4_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.block4_item {
@include flex-column;
    position: relative;
    flex: 0 1 84px;
}
.block5 {
@include flex-column;
}
.block5_layout {
    position: relative;
    height: 60px;
    margin: 2px 0px 2px 24px;
}
.block4_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.highlights1 {
@include font-face($font_type4, rgb(142, 142, 161), 0px);
}
.highlights1_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 72px 21px 0px;
}
.highlights1_layout1 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 69px 21px 0px;
}
.highlights1_layout2 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 89px 21px 0px;
}
.block6 {
    display: flex;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 20px 20px 20px 20px;
}
.block6_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.block6_item {
@include flex-column;
    position: relative;
    flex: 0 1 84px;
}
.block7 {
@include flex-column;
}
.block7_layout {
    position: relative;
    height: 60px;
    margin: 2px 0px 2px 24px;
}
.icon1 {
    background: var(--src) center center / contain no-repeat;
}
.icon1_layout {
    position: relative;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin: 14px 0px 0px 14px;
}
.block6_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.highlights1_layout3 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 39px 21px 0px;
}
.block8 {
    display: flex;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 20px 20px 20px 20px;
}
.block8_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.block8_item {
@include flex-column;
    position: relative;
    flex: 0 1 84px;
}
.block9 {
@include flex-column;
}
.block9_layout {
    position: relative;
    height: min-content;
    margin: 2px 0px 2px 24px;
}
.cover_group3 {
@include flex-column;
}
.cover_group3_layout {
    position: relative;
    height: min-content;
    margin: 16px;
}
.icon2 {
    background: var(--src) center center / contain no-repeat;
}
.icon2_layout {
    position: absolute;
    top: 0px;
    height: 10px;
    left: 0px;
    width: 10px;
    min-width: 10px;
    margin: 9px;
}
.icon3 {
    background: var(--src) center center / contain no-repeat;
}
.icon3_layout {
    position: relative;
    height: 28px;
    width: 28px;
    min-width: 28px;
}
.block8_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.highlights1_layout4 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 21px 69px 21px 0px;
}
.text_body1 {
@include font-face($font_type7, rgb(160, 152, 174), 0px);
}
.text_body1_layout {
    position: relative;
    height: min-content;
    margin: 209px 24px 0px 0px;
}
.text_body {
@include font-face($font_type8, rgb(160, 152, 174), 0px);
}
.text_body_layout {
    position: relative;
    height: min-content;
    margin: 19px 0px 917px;
}
.block_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 50px;
}
.block_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 1525px;
}
.flex2 {
@include flex-column;
}
.flex2_layout {
    position: relative;
    height: min-content;
    margin: 30px 48px 38px 0px;
}
.flex3 {
    display: flex;
}
.flex3_layout {
    position: relative;
    height: min-content;
}
.flex3_item {
@include flex-column;
    position: relative;
    flex: 0 1 600px;
}
.block12 {
@include flex-column;
    background-color: rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
}
.block12_layout {
    position: relative;
    height: min-content;
}
.block13 {
    display: flex;
    border-radius: 22px 22px 22px 22px;
}
.block13_layout {
    position: relative;
    height: min-content;
}
.block13_item {
@include flex-column;
    position: relative;
    flex: 0 1 64px;
}
.icon1_layout1 {
    position: relative;
    height: 32px;
    width: 32px;
    min-width: 32px;
    margin: 14px 0px 14px 32px;
}
.block13_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 16px;
}
.highlights1_layout5 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 19px 28px 19px 0px;
}
.flex3_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 478px;
}
.flex3_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 60px;
}
.cover_block9 {
@include flex-column;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border: 2px solid rgb(142, 142, 161);
    border-radius: 30px 30px 30px 30px;
}
.cover_block9_layout {
    position: relative;
    height: min-content;
}
.icon5 {
    background: var(--src) center center / contain no-repeat;
    width: 100%;
    height: 100%;
}
.cover_block8 {
@include flex-column;
    background: var(--src) center center / contain no-repeat;
}
.cover_block8_layout {
    position: relative;
    height: min-content;
    margin: 1px 17px 17px;
}
.image2 {
    background: var(--src) center center / contain no-repeat;
}
.image2_layout {
    position: relative;
    height: 10px;
    width: 14px;
    min-width: 14px;
    margin: 8px 6px;
}
.flex3_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex3_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 60px;
}
.cover_block10 {
@include flex-column;
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border: 2px solid rgb(142, 142, 161);
    border-radius: 30px 30px 30px 30px;
}
.cover_block10_layout {
    position: relative;
    height: min-content;
}
.flex4 {
@include flex-column;
}
.flex4_layout {
    position: relative;
    height: min-content;
    margin: 0px 3px;
}
.icon51 {
    background: var(--src) center center / contain no-repeat;
}
.icon51_layout {
    position: relative;
    height: 16px;
    width: 16px;
    min-width: 16px;
    margin: 0px 0px 0px 38px;
}
.image1 {
    background: var(--src) center center / contain no-repeat;
}
.image1_layout {
    position: relative;
    height: 24px;
    width: 20px;
    min-width: 20px;
    margin: 2px 17px 18px;
}
.flex3_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex3_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 60px;
}
.cover_block7 {
@include flex-column;
    border: 2px solid rgb(142, 142, 161);
    border-radius: 30px 30px 30px 30px;
}
.cover_block7_layout {
    position: relative;
    height: min-content;
}
.cover_group2 {
@include flex-column;
}
.cover_group2_layout {
    position: relative;
    height: min-content;
    margin: 19px;
}
.icon7 {
    background: var(--src) center center / contain no-repeat;
}
.icon7_layout {
    position: absolute;
    top: 0px;
    height: 8px;
    left: 0px;
    width: 8px;
    min-width: 8px;
    margin: 7px;
}
.icon8 {
    background: var(--src) center center / contain no-repeat;
}
.icon8_layout {
    position: relative;
    height: 22px;
    width: 22px;
    min-width: 22px;
}
.flex3_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex3_item4 {
@include flex-column;
    position: relative;
    flex: 0 1 159px;
}
.block10 {
    display: flex;
}
.block10_layout {
    position: relative;
    height: min-content;
}
.block10_item {
@include flex-column;
    position: relative;
    flex: 0 1 60px;
}
.box3 {
    background-color: rgb(245, 245, 245);
    border-radius: 30px 30px 30px 30px;
}
.box3_layout {
    position: relative;
    height: 60px;
}
.block10_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 16px;
}
.block10_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 83px;
}
.block11 {
@include flex-column;
}
.block11_layout {
    position: relative;
    height: min-content;
    margin: 19px 0px;
}
.highlights_layout1 {
    position: relative;
    height: min-content;
}
.hero_title1 {
@include font-face($font_type2, rgb(34, 36, 44), 0px);
}
.hero_title1_layout {
    position: relative;
    height: min-content;
    margin: 60px 0px 0px;
}
.flex5 {
    display: flex;
}
.flex5_layout {
    position: relative;
    height: min-content;
    margin: 39px 0px 0px;
}
.flex5_item {
@include flex-column;
    position: relative;
    flex: 0 1 496px;
}
.cover_group1 {
@include flex-column;
    background-color: rgb(97, 96, 220);
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 40px 40px 40px 40px;
}
.cover_group1_layout {
    position: relative;
    height: min-content;
}
.flex6 {
@include flex-column;
    background: var(--src) center center / contain no-repeat;
}
.flex6_layout {
    position: relative;
    height: min-content;
}
.flex7 {
    display: flex;
}
.flex7_layout {
    position: relative;
    height: min-content;
    width: 83.67%;
    margin: 32px auto 0px;
}
.flex7_item {
@include flex-column;
    position: relative;
    flex: 0 1 232px;
}
.flex8 {
@include flex-column;
}
.flex8_layout {
    position: relative;
    height: min-content;
    margin: 10px 0px 0px;
}
.highlights2 {
@include font-face($font_type4, rgb(255, 255, 255), 0px);
}
.highlights2_layout {
    position: relative;
    height: min-content;
}
.hero_title2 {
@include font-face($font_type2, rgb(255, 255, 255), 0px);
}
.hero_title2_layout {
    position: relative;
    height: min-content;
    margin: 9px 0px 0px;
}
.flex7_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex7_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 101px;
}
.image3 {
    background: var(--src) center center / contain no-repeat;
}
.image3_layout {
    position: relative;
    height: 56px;
    width: 101px;
    min-width: 101px;
    margin: 0px 0px 29px;
}
.medium_title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type3;
    color: rgb(255, 255, 255);
    text-align: right;
    letter-spacing: 0px;
    white-space: pre-wrap;
}
.medium_title_box {
    display: flex;
    justify-content: flex-end;
}
.medium_title_box_layout {
    position: relative;
    height: min-content;
    margin: 52px 33px 0px;
}
.flex9 {
    display: flex;
}
.flex9_layout {
    position: relative;
    height: min-content;
    width: 83.06%;
    margin: 40px auto 0px;
}
.text_body2 {
@include font-face($font_type9, rgb(255, 255, 255), 0px);
}
.text_body2_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex9_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 44px;
}
.flex10 {
    display: flex;
}
.flex10_layout {
    position: relative;
    height: min-content;
    width: 83.06%;
    margin: 8px auto 45px;
}
.highlights3 {
@include font-face($font_type5, rgb(255, 255, 255), 0px);
}
.highlights3_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex10_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 41px;
}
.flex5_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 40px;
}
.flex5_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 448px;
}
.image8 {
    background: var(--src) center center / contain no-repeat;
}
.image8_layout {
    position: relative;
    height: 329px;
    margin: 1px 0px 0px;
}
.flex5_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 43px;
}
.flex5_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 448px;
}
.cover_block4 {
@include flex-column;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px 40px 40px;
}
.cover_block4_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 1px;
}
.flex11 {
@include flex-column;
}
.flex11_layout {
    position: relative;
    height: min-content;
    margin: 30px 0px;
}
.flex12 {
    display: flex;
}
.flex12_layout {
    position: relative;
    height: min-content;
    margin: 2px 32px 0px;
}
.flex12_item {
@include flex-column;
    position: relative;
    flex: 0 1 80px;
}
.cover_block3 {
@include flex-column;
    background-color: rgb(84, 197, 235);
    border-radius: 40px 40px 40px 40px;
}
.cover_block3_layout {
    position: relative;
    height: min-content;
}
.image9 {
    background: var(--src) center center / contain no-repeat;
}
.image9_layout {
    position: relative;
    height: 24px;
    width: 36px;
    min-width: 36px;
    margin: 37px 22px 19px;
}
.image10 {
    background: var(--src) center center / contain no-repeat;
}
.image10_layout {
    position: absolute;
    top: 0px;
    height: 36px;
    left: 0px;
    width: 16px;
    min-width: 16px;
    margin: 19px 32px 25px;
}
.flex12_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 17px;
}
.flex12_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 151px;
}
.flex13 {
@include flex-column;
}
.flex13_layout {
    position: relative;
    height: min-content;
    margin: 5px 0px 1px;
}
.highlights1_layout6 {
    position: relative;
    height: min-content;
}
.hero_title1_layout1 {
    position: relative;
    height: min-content;
    margin: 8px 0px 0px;
}
.flex12_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 46px;
}
.flex12_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 90px;
}
.flex14 {
@include flex-column;
}
.flex14_layout {
    position: relative;
    height: min-content;
    margin: 8px 0px 15px;
}
.image11 {
    background: var(--src) center center / contain no-repeat;
    width: 100%;
    height: 100%;
}
.highlights6 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type4;
    color: rgb(0, 0, 0);
    text-align: right;
    letter-spacing: 0px;
    white-space: pre-wrap;
}
.highlights6_box {
    display: flex;
    justify-content: flex-end;
}
.highlights6_box_layout {
    position: relative;
    height: min-content;
    margin: 3px 0px 0px;
}
.highlights6_span0 {
@include font-face($font_type0, #ff4a55ff, 0px);
}
.highlights6_span1 {
@include font-face($font_type0, #8e8ea1ff, 0px);
}
.image12 {
    background: var(--src) center center / contain no-repeat;
}
.image12_layout {
    position: relative;
    height: 124px;
    margin: 63px 0px 0px 2px;
}
.flex15 {
    display: flex;
}
.flex15_layout {
    position: relative;
    height: min-content;
    margin: 40px 0px 0px;
}
.flex15_item {
@include flex-column;
    position: relative;
    flex: 0 1 731px;
}
.cover_block2 {
@include flex-column;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px 40px 40px;
}
.cover_block2_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 2px;
}
.flex16 {
@include flex-column;
}
.flex16_layout {
    position: relative;
    height: min-content;
    margin: 27px 32px;
}
.flex17 {
    display: flex;
}
.flex17_layout {
    position: relative;
    height: min-content;
}
.medium_title1 {
@include font-face($font_type3, rgb(34, 36, 44), 0px);
}
.medium_title1_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 5px 0px 6px;
}
.flex17_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 166px;
}
.flex17_item {
@include flex-column;
    position: relative;
    flex: 0 1 105px;
}
.block17 {
    display: flex;
    border-radius: 5px 5px 5px 5px;
}
.block17_layout {
    position: relative;
    height: min-content;
    margin: 8px 0px 7px;
}
.block17_item {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.icon9 {
    background: var(--src) center center / contain no-repeat;
}
.icon9_layout {
    position: relative;
    height: 12px;
    width: 12px;
    min-width: 12px;
    margin: 7px 0px 6px 8px;
}
.block17_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 8px;
}
.text_body5 {
@include font-face($font_type9, rgb(142, 142, 161), 0px);
}
.text_body5_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 4px 5px 4px 0px;
}
.flex17_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 8px;
}
.text_body5_layout1 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 4px 4px 4px 0px;
}
.flex17_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex17_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 140px;
}
.block14 {
@include flex-column;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.047058823529411764);
    border-radius: 20px 20px 20px 20px;
}
.block14_layout {
    position: relative;
    height: min-content;
}
.block15 {
    display: flex;
}
.block15_layout {
    position: relative;
    height: min-content;
    margin: 8px 31px 8px 32px;
}
.text_body4 {
@include font-face($font_type9, rgb(97, 96, 220), 0px);
}
.text_body4_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 4px 0px 3px;
}
.block15_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 13px;
}
.block15_item {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.block16 {
@include flex-column;
}
.block16_layout {
    position: relative;
    overflow: hidden;
    height: min-content;
}
.image14 {
    background: var(--src) center center / contain no-repeat;
}
.image14_layout {
    position: relative;
    height: 10px;
    width: 15px;
    min-width: 15px;
    margin: 7px 5px 7px 4px;
}
.flex18 {
    display: flex;
}
.flex18_layout {
    position: relative;
    height: min-content;
    margin: 33px 0px 0px;
}
.highlights1_layout7 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex18_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 17px;
}
.flex18_item {
@include flex-column;
    position: relative;
    flex: 0 1 614px;
}
.line_layout4 {
    position: relative;
    height: 1px;
    margin: 16px 0px 5px;
}
.flex19 {
    display: flex;
}
.flex19_layout {
    position: relative;
    height: min-content;
    margin: 5px 0px 0px;
}
.flex19_item {
@include flex-column;
    position: relative;
    flex: 0 1 28px;
}
.flex20 {
@include flex-column;
}
.flex20_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.highlights1_layout8 {
    position: relative;
    height: min-content;
    margin: 0px 1px 0px 0px;
}
.highlights1_layout9 {
    position: relative;
    height: min-content;
    margin: 29px 1px 0px 0px;
}
.highlights1_layout10 {
    position: relative;
    height: min-content;
    margin: 29px 0px 0px;
}
.highlights1_layout11 {
    position: relative;
    height: min-content;
    margin: 29px 1px 0px 0px;
}
.highlights1_layout12 {
    position: relative;
    height: min-content;
    margin: 29px 12px 0px 0px;
}
.flex19_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 25px;
}
.flex19_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box15 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.79px 11.79px 0px 0px;
}
.box15_layout {
    position: relative;
    height: 186px;
    margin: 59px 0px 5px;
}
.flex19_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex19_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box16 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.22px 11.22px 0px 0px;
}
.box16_layout {
    position: relative;
    height: 245px;
    margin: 0px 0px 5px;
}
.flex19_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 44px;
}
.flex19_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box17 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box17_layout {
    position: relative;
    height: 142px;
    margin: 103px 0px 5px;
}
.flex19_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex19_item4 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box18 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box18_layout {
    position: relative;
    height: 110px;
    margin: 135px 0px 5px;
}
.flex19_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 44px;
}
.flex19_item5 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box19 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box19_layout {
    position: relative;
    height: 77px;
    margin: 168px 0px 5px;
}
.flex19_spacer5 {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex19_item6 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box20 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box20_layout {
    position: relative;
    height: 92px;
    margin: 153px 0px 5px;
}
.flex19_spacer6 {
@include flex-column;
    position: relative;
    flex: 0 1 32px;
}
.flex19_item7 {
@include flex-column;
    position: relative;
    flex: 0 1 105px;
}
.flex21 {
@include flex-column;
}
.flex21_layout {
    position: relative;
    height: min-content;
    margin: 21px 0px 5px;
}
.cover_block1 {
@include flex-column;
    background: var(--src) center center / contain no-repeat;
    filter: drop-shadow(0px 6px 16px rgba(34, 36, 44, 0.14901960784313725));
}
.cover_block1_layout {
    position: relative;
    height: min-content;
}
.highlights5 {
@include h-center-content;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: center;
    letter-spacing: 0px;
}
.highlights5_layout {
    position: relative;
    height: min-content;
    margin: 11px 29.5px 0px 31.5px;
}
.text_body3 {
@include h-center-content;
    font: $font_type9;
    color: rgb(34, 36, 44);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24705882352941178);
    letter-spacing: 0px;
}
.text_body3_layout {
    position: relative;
    height: min-content;
    margin: 9px 23px 24px 24px;
}
.flex22 {
    display: flex;
}
.flex22_layout {
    position: relative;
    height: min-content;
    margin: 17px 13px 0px;
}
.flex22_item {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box21 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box21_layout {
    position: relative;
    height: 100px;
    margin: 24px 0px 0px;
}
.flex22_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex22_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box22 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box22_layout {
    position: relative;
    height: 124px;
}
.flex19_spacer7 {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex19_item8 {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.box23 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box23_layout {
    position: relative;
    height: 52px;
    margin: 193px 0px 5px;
}
.flex19_spacer8 {
@include flex-column;
    position: relative;
    flex: 0 1 5px;
}
.flex19_item9 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box24 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box24_layout {
    position: relative;
    height: 74px;
    margin: 171px 0px 5px;
}
.flex19_spacer9 {
@include flex-column;
    position: relative;
    flex: 0 1 36px;
}
.flex19_item10 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box25 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box25_layout {
    position: relative;
    height: 206px;
    margin: 39px 0px 5px;
}
.flex19_spacer10 {
@include flex-column;
    position: relative;
    flex: 0 1 6px;
}
.flex19_item11 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box26 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box26_layout {
    position: relative;
    height: 166px;
    margin: 79px 0px 5px;
}
.flex19_spacer11 {
@include flex-column;
    position: relative;
    flex: 0 1 35px;
}
.flex19_item12 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box27 {
    background-color: rgb(84, 197, 235);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box27_layout {
    position: relative;
    height: 137px;
    margin: 108px 0px 5px;
}
.flex19_spacer12 {
@include flex-column;
    position: relative;
    flex: 0 1 6px;
}
.flex19_item13 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.box28 {
    background-color: rgb(97, 96, 220);
    border-radius: 11.73px 11.73px 0px 0px;
}
.box28_layout {
    position: relative;
    height: 186px;
    margin: 59px 0px 5px;
}
.flex23 {
    display: flex;
}
.flex23_layout {
    position: relative;
    height: min-content;
    width: 89.96%;
    margin: 19px 1.35% 10px 8.7%;
}
.highlights1_layout13 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex23_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 58px;
}
.highlights1_layout14 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.highlights_layout2 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex23_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 59px;
}
.highlights1_layout15 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex23_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 56px;
}
.highlights1_layout16 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex23_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 56px;
}
.highlights1_layout17 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.highlights1_layout18 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex15_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 40px;
}
.flex15_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 704px;
}
.cover_block6 {
@include flex-column;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px 40px 40px;
}
.cover_block6_layout {
    position: relative;
    height: min-content;
}
.flex24 {
@include flex-column;
}
.flex24_layout {
    position: relative;
    height: min-content;
    margin: 32px;
}
.medium_title1_layout1 {
    position: relative;
    height: min-content;
}
.highlights11 {
    display: flex;
    justify-content: flex-end;
    font: $font_type4;
    color: rgb(142, 142, 161);
    text-align: right;
    letter-spacing: 0px;
}
.highlights11_layout {
    position: relative;
    height: min-content;
    width: 34.69%;
    margin: 39px auto 0px;
}
.flex25 {
    display: flex;
}
.flex25_layout {
    position: relative;
    height: min-content;
    width: 43.75%;
    margin: 34px 0% 0px 56.25%;
}
.flex25_item {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.box7 {
    background-color: rgb(97, 96, 220);
    border-radius: 10px 10px 10px 10px;
}
.box7_layout {
    position: relative;
    height: 20px;
    margin: 1px 0px;
}
.flex25_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.highlights4 {
@include font-face($font_type6, rgb(34, 36, 44), 0px);
}
.highlights4_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.highlights51 {
    display: flex;
    justify-content: flex-end;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: right;
    letter-spacing: 0px;
}
.highlights51_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex26 {
    display: flex;
}
.flex26_layout {
    position: relative;
    height: min-content;
    width: 43.75%;
    margin: 24px 0% 0px 56.25%;
}
.flex26_item {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.box8 {
    background-color: rgb(34, 36, 44);
    border-radius: 10px 10px 10px 10px;
}
.box8_layout {
    position: relative;
    height: 20px;
    margin: 1px 0px;
}
.flex26_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex26_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 64px;
}
.highlights52 {
    display: flex;
    justify-content: flex-end;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: right;
    letter-spacing: 0px;
}
.highlights52_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
}
.flex27 {
    display: flex;
}
.flex27_layout {
    position: relative;
    height: min-content;
    width: 69.06%;
    margin: 24px 0% 39px 30.94%;
}
.flex27_item {
@include flex-column;
    position: relative;
    flex: 0 1 130px;
}
.cover_block5 {
@include flex-column;
    background: var(--src) center center / contain no-repeat;
}
.cover_block5_layout {
    position: relative;
    height: min-content;
    margin: 10px 0px 0px;
}
.highlights3_layout1 {
    position: relative;
    height: min-content;
    margin: 33px 40px 73px;
}
.flex27_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 32px;
}
.flex27_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex28 {
@include flex-column;
}
.flex28_layout {
    position: relative;
    height: min-content;
    margin: 1px 0px 25px;
}
.box9 {
    background-color: rgb(84, 197, 235);
    border-radius: 10px 10px 10px 10px;
}
.box9_layout {
    position: relative;
    height: 20px;
}
.box10 {
    background-color: rgb(255, 183, 74);
    border-radius: 10px 10px 10px 10px;
}
.box10_layout {
    position: relative;
    height: 20px;
    margin: 26px 0px 0px;
}
.box11 {
    background-color: rgb(255, 74, 85);
    border-radius: 10px 10px 10px 10px;
}
.box11_layout {
    position: relative;
    height: 20px;
    margin: 26px 0px 0px;
}
.flex27_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 20px;
}
.flex27_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 163px;
}
.flex29 {
@include flex-column;
}
.flex29_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 24px;
}
.highlights4_layout1 {
    position: relative;
    height: min-content;
}
.highlights41 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
@include font-face($font_type6, rgb(34, 36, 44), 0px);
    white-space: pre-wrap;
}
.highlights41_box_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.highlights42 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
@include font-face($font_type6, rgb(34, 36, 44), 0px);
    white-space: pre-wrap;
}
.highlights42_box_layout {
    position: relative;
    height: min-content;
    margin: 24px 39px 0px 0px;
}
.flex27_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 36px;
}
.flex27_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 41px;
}
.flex30 {
@include flex-column;
}
.flex30_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 24px;
}
.highlights53 {
    display: flex;
    justify-content: flex-end;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: right;
    letter-spacing: 0px;
}
.highlights53_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 12px;
}
.highlights54 {
    display: flex;
    justify-content: flex-end;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: right;
    letter-spacing: 0px;
}
.highlights54_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px 3px;
}
.highlights55 {
    display: flex;
    justify-content: flex-end;
    font: $font_type5;
    color: rgb(34, 36, 44);
    text-align: right;
    letter-spacing: 0px;
}
.highlights55_layout {
    position: relative;
    height: min-content;
    margin: 24px 0px 0px;
}
.flex31 {
    display: flex;
}
.flex31_layout {
    position: relative;
    height: min-content;
    margin: 38px 0px 0px;
}
.flex31_item {
@include flex-column;
    position: relative;
    flex: 0 1 847px;
}
.cover_block {
@include flex-column;
    background-color: rgb(255, 255, 255);
    border-radius: 40px 40px 40px 40px;
}
.cover_block_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 2px;
}
.flex32 {
@include flex-column;
}
.flex32_layout {
    position: relative;
    height: min-content;
    margin: 32px 0px;
}
.medium_title1_layout2 {
    position: relative;
    height: min-content;
    margin: 0px 32px;
}
.block18 {
@include flex-column;
}
.block18_layout {
    position: relative;
    height: min-content;
    margin: 31px 0px 0px;
}
.block19 {
@include flex-column;
    background-color: rgb(255, 255, 255);
}
.block19_layout {
    position: relative;
    height: min-content;
}
.flex33 {
    display: flex;
}
.flex33_layout {
    position: relative;
    height: min-content;
    margin: 28px 32px;
}
.flex33_item {
@include flex-column;
    position: relative;
    flex: 0 1 48px;
}
.cover_block13 {
@include flex-column;
    background-color: rgb(255, 74, 85);
    border-radius: 24px 24px 24px 24px;
}
.cover_block13_layout {
    position: relative;
    height: min-content;
}
.icon10 {
    background: var(--src) center center / contain no-repeat;
}
.icon10_layout {
    position: relative;
    height: 34px;
    width: 34px;
    min-width: 34px;
    margin: 7px;
}
.flex33_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex33_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 116px;
}
.block20 {
@include flex-column;
}
.block20_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 5px;
}
.highlights_layout3 {
    position: relative;
    height: min-content;
}
.text_body5_layout2 {
    position: relative;
    height: min-content;
    margin: 4px 0px 0px;
}
.flex33_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.highlights_layout4 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex33_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex33_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 114px;
}
.flex34 {
@include flex-column;
}
.flex34_layout {
    position: relative;
    height: min-content;
    margin: 1px 0px 4px;
}
.highlights_layout5 {
    position: relative;
    height: min-content;
}
.text_body5_layout3 {
    position: relative;
    height: min-content;
    margin: 4px 23px 0px 0px;
}
.flex33_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.highlights7 {
    display: flex;
    justify-content: flex-end;
    font: $font_type4;
    color: rgb(0, 163, 137);
    text-align: right;
    letter-spacing: 0px;
}
.highlights7_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex33_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 72px;
}
.flex33_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.image15 {
    background: var(--src) center center / contain no-repeat;
}
.image15_layout {
    position: relative;
    height: 6px;
    width: 22px;
    min-width: 22px;
    margin: 21px 1px 21px 0px;
}
.block21 {
@include flex-column;
    background-color: rgb(245, 245, 245);
}
.block21_layout {
    position: relative;
    height: min-content;
}
.flex35 {
    display: flex;
}
.flex35_layout {
    position: relative;
    height: min-content;
    margin: 28px 32px;
}
.flex35_item {
@include flex-column;
    position: relative;
    flex: 0 1 48px;
}
.cover_block14 {
@include flex-column;
    background-color: rgb(0, 163, 137);
    border-radius: 24px 24px 24px 24px;
}
.cover_block14_layout {
    position: relative;
    height: min-content;
}
.flex35_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex35_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 105px;
}
.block22 {
@include flex-column;
}
.block22_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 5px;
}
.highlights_layout6 {
    position: relative;
    height: min-content;
}
.text_body5_layout4 {
    position: relative;
    height: min-content;
    margin: 4px 0px 0px;
}
.flex35_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 73px;
}
.highlights_layout7 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex35_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex35_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 114px;
}
.highlights_layout8 {
    position: relative;
    height: min-content;
}
.text_body5_layout5 {
    position: relative;
    height: min-content;
    margin: 4px 23px 0px 0px;
}
.flex35_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.highlights8 {
    display: flex;
    justify-content: flex-end;
    font: $font_type4;
    color: rgb(255, 74, 85);
    text-align: right;
    letter-spacing: 0px;
}
.highlights8_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex35_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 85px;
}
.flex35_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.block23 {
@include flex-column;
    background-color: rgb(255, 255, 255);
}
.block23_layout {
    position: relative;
    height: min-content;
}
.flex37 {
    display: flex;
}
.flex37_layout {
    position: relative;
    height: min-content;
    margin: 28px 32px;
}
.flex37_item {
@include flex-column;
    position: relative;
    flex: 0 1 48px;
}
.flex37_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex37_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 94px;
}
.block24 {
@include flex-column;
}
.block24_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 5px;
}
.highlights_layout9 {
    position: relative;
    height: min-content;
}
.text_body5_layout6 {
    position: relative;
    height: min-content;
    margin: 4px 35px 0px 0px;
}
.flex37_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 84px;
}
.highlights_layout10 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex37_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex37_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 114px;
}
.highlights_layout11 {
    position: relative;
    height: min-content;
}
.text_body5_layout7 {
    position: relative;
    height: min-content;
    margin: 4px 23px 0px 0px;
}
.flex37_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.highlights12 {
    display: flex;
    justify-content: flex-end;
    font: $font_type4;
    color: rgb(142, 142, 161);
    text-align: right;
    letter-spacing: 0px;
}
.highlights12_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex37_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 96px;
}
.flex37_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.block25 {
@include flex-column;
    background-color: rgb(245, 245, 245);
}
.block25_layout {
    position: relative;
    height: min-content;
}
.flex39 {
    display: flex;
}
.flex39_layout {
    position: relative;
    height: min-content;
    margin: 28px 32px;
}
.flex39_item {
@include flex-column;
    position: relative;
    flex: 0 1 48px;
}
.flex39_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex39_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 89px;
}
.block26 {
@include flex-column;
}
.block26_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 5px;
}
.highlights_layout12 {
    position: relative;
    height: min-content;
}
.text_body5_layout8 {
    position: relative;
    height: min-content;
    margin: 4px 30px 0px 0px;
}
.flex39_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 89px;
}
.highlights_layout13 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex39_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex39_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 114px;
}
.highlights_layout14 {
    position: relative;
    height: min-content;
}
.text_body5_layout9 {
    position: relative;
    height: min-content;
    margin: 4px 23px 0px 0px;
}
.flex39_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.flex39_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 72px;
}
.flex39_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.block27 {
@include flex-column;
    background-color: rgb(255, 255, 255);
}
.block27_layout {
    position: relative;
    height: min-content;
}
.flex41 {
    display: flex;
}
.flex41_layout {
    position: relative;
    height: min-content;
    margin: 28px 32px;
}
.flex41_item {
@include flex-column;
    position: relative;
    flex: 0 1 48px;
}
.flex41_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 24px;
}
.flex41_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 101px;
}
.block28 {
@include flex-column;
}
.block28_layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 5px;
}
.highlights_layout15 {
    position: relative;
    height: min-content;
}
.text_body5_layout10 {
    position: relative;
    height: min-content;
    margin: 4px 0px 0px;
}
.flex41_spacer1 {
@include flex-column;
    position: relative;
    flex: 0 1 77px;
}
.highlights_layout16 {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 13px 0px;
}
.flex41_spacer2 {
@include flex-column;
    position: relative;
    flex: 0 1 82px;
}
.flex41_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 114px;
}
.highlights_layout17 {
    position: relative;
    height: min-content;
}
.text_body5_layout11 {
    position: relative;
    height: min-content;
    margin: 4px 23px 0px 0px;
}
.flex41_spacer3 {
@include flex-column;
    position: relative;
    flex: 0 1 62px;
}
.flex41_spacer4 {
@include flex-column;
    position: relative;
    flex: 0 1 72px;
}
.flex41_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 23px;
}
.flex43 {
    display: flex;
}
.flex43_layout {
    position: relative;
    height: min-content;
    width: 91.38%;
    margin: 30px 3.78% 0px 4.84%;
}
.text_body6 {
@include font-face($font_type9, rgb(0, 0, 0), 0px);
}
.text_body6_box_layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
    margin: 17px 0px;
}
.text_body6_span0 {
@include font-face($font_type0, #8e8ea1ff, 0px);
}
.text_body6_span1 {
@include font-face($font_type0, #22242cff, 0px);
}
.text_body6_span2 {
@include font-face($font_type0, #8e8ea1ff, 0px);
}
.text_body6_span3 {
@include font-face($font_type0, #22242cff, 0px);
}
.text_body6_span4 {
@include font-face($font_type0, #8e8ea1ff, 0px);
}
.flex43_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 315px;
}
.flex43_item {
@include flex-column;
    position: relative;
    flex: 0 1 280px;
}
.block29 {
    display: flex;
}
.block29_layout {
    position: relative;
    height: min-content;
}
.block29_item {
@include flex-column;
    position: relative;
    flex: 0 1 32px;
}
.icon11 {
    background: var(--src) center center / contain no-repeat;
}
.icon11_layout {
    position: relative;
    height: 33px;
    width: 32px;
    min-width: 32px;
    margin: 9px 0px;
}
.block29_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 16px;
}
.block29_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 50px;
}
.block30 {
@include flex-column;
    background-color: rgb(97, 96, 220);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.13725490196078433);
    border-radius: 25px 25px 25px 25px;
}
.block30_layout {
    position: relative;
    height: 50px;
    margin: 1px 0px 0px;
}
.highlights21 {
@include font-face($font_type4, rgb(255, 255, 255), 0px);
    width: 100%;
    height: 100%;
}
.block29_item2 {
@include flex-column;
    position: relative;
    flex: 0 1 51px;
}
.block31 {
@include flex-column;
    border: 2px solid rgb(142, 142, 161);
    border-radius: 25.5px 25.5px 25.5px 25.5px;
}
.block31_layout {
    position: relative;
    height: 51px;
}
.highlights13 {
@include font-face($font_type4, rgb(142, 142, 161), 0px);
    width: 100%;
    height: 100%;
}
.block29_item3 {
@include flex-column;
    position: relative;
    flex: 0 1 51px;
}
.highlights14 {
@include font-face($font_type4, rgb(142, 142, 161), 0px);
    width: 100%;
    height: 100%;
}
.flex31_spacer {
@include flex-column;
    position: relative;
    flex: 0 1 40px;
}
.flex31_item1 {
@include flex-column;
    position: relative;
    flex: 0 1 588px;
}
.image16 {
    background: var(--src) center center / contain no-repeat;
}
.image16_layout {
    position: relative;
    height: 725px;
    margin: 2px 0px 0px;
}
