.cardContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    min-width: 350px;
    max-width: 400px;
    background-color: #ffffff;
    background-image: linear-gradient(135deg,  #626adc 40%, #a0a0a0);
    position: relative;
}

.blocked {
    background-image: linear-gradient(90deg, #a0a0a0 90%, #a0a0a0) !important;
}

.blockedText {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
}

.cardContainer * {
    color: white;
}

.cardBalanceSummary {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cardBalanceSummary div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardNumber {
    display: flex;
    justify-content: flex-end;
}

.cardHolderInfo {
    display: flex;
    justify-content: flex-start;
}

.cardHolderInfo > div:first-of-type,
.cardHolderInfo > div:first-of-type + div {
    display: flex;
    flex-direction: column;
}

.cardHolderInfo > div:first-of-type {
    margin-right: 3rem;
}
